*{
      background-image:url(Food.avif) ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid  cornsilk;
    background-color: lightsteelblue;
    border-radius: 10px;

   
}
.nav-links{
    display: flex;
    gap: 1rem;
    list-style: none;
    border-radius: 10px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    
}
.container{
    background-color: burlywood;
    width: 720px;
    height: 600px;
    float: right;
    border: 2px solid rgb(255, 204, 128); 
    padding: 1px; 
    border-radius: 20px;
    margin: 20px 10px;
    flex-wrap: wrap;
    text-align: center;
    color: beige;

    
}
.container-2{
    float: left;
    background-color: black;
    width: 700px;
    height: 590px;
    border: 2px solid rgb(170, 143, 35);
    border-radius: 20px;
   margin: 20px 10px;
   padding:1px ;
}
.Image{
   border-radius: 15px;
   margin-top: 1px;
   margin-bottom: 7px;
   padding-bottom: 7px;
}
.ul{
    list-style-type: none;
}
.Logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.Mother{
    margin-right: 10px;

}
